! -*- trill -*-
!
! ISISd sample configuration file
!
hostname RB5
password foo
!log file /var/log/trill.log
log syslog warnings
log stdout

router isis DEAD
        net 00.0018.e717.3a62.00
trill instance br0
trill nickname 50
trill nickname priority 50
interface eth0
        trill router trill DEAD
