! -*- trill -*-
!
! ISISd sample configuration file
!
hostname PE2
password foo
!log file /var/log/trill.log
log syslog warnings
log stdout

router isis DEAD
        net 00.0040.f454.dc82.00
trill instance br0
trill nickname 25
trill nickname priority 25
interface eth0
        trill router trill DEAD
interface mpls0
	trillpe router trill DEAD
